# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace atom-text-editor:not(.mini)': [
    {label: 'Beautify editor contents', command: 'atom-beautify:beautify-editor'}
    {label: 'Debug Atom Beautify', command: 'atom-beautify:help-debug-editor'}
  ]
  '.tree-view .file > .name': [
    {label: 'Beautify File', command: 'atom-beautify:beautify-file'}
  ]
  # '.tree-view .directory > .header > .name': [
  #   {label: 'Beautify Directory', command: 'atom-beautify:beautify-directory'}
  # ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
        'label': 'Atom Beautify'
        'submenu': [
              {
                'label': 'Beautify'
                'command': 'atom-beautify:beautify-editor'
              }
              {
                'label': 'Debug'
                'command': 'atom-beautify:help-debug-editor'
              }
              {
                'label': 'Settings'
                'command': 'atom-beautify:open-settings'
              }
          ]
      ]
  }
]
