/* kendo UI */

@import "variables";
// slider
.k-slider-track {
  background-color: $gray-light;
  box-shadow: none;
}
.k-slider-selection {
  background-color: $brand-primary;
}
.k-button {
  border: 1px solid $brand-primary;
  background-color: transparent;
  color: $brand-primary;
  &:hover {
    border-color: $brand-primary;
    background-color: $brand-primary;
    color: #fff;
  }
}
