<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers accessPolicy="Read, Script"/>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
        <add value="default.asp"/>
        <add value="index.html"/>
        <add value="index.htm"/>
        <add value="default.html"/>
        <add value="default.htm"/>
      </files>
    </defaultDocument>
    <httpErrors>
      <clear/>
    </httpErrors>
  </system.webServer>
</configuration>